<%= simple_form_for @service_area do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="field is-inline-flex">
      <%= f.input :name, as: :text, input_html: { rows: 1, style: "height: 2.4em;" } %>
      <%= f.association :parent %>
    </div>
    <div class="field is-inline-flex">
      <%= f.input :service_area_type, as: :select, collection: @service_area_types %>
      <%= f.association :organization %>
    </div>
    <%= f.input :description, as: :text, input_html: { rows: 2 } %>

    <%= f.simple_fields_for :location, as: :location do |ff| %>
      <%= render "location_fields", f: ff %>
    <% end %>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, resource: @service_area, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
