<fieldset>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :location_type_id, value: @service_area_location_type.id %>
    <br>

    <div class="field is-inline-flex">
      <%= f.input :city %>
      <%= f.input :state, input_html: { maxlength: 2, size: 2 }, hint: "(e.g. TN, MI, NY)" %>
      <%= f.input :zip, input_html: { maxlength: 5, size: 5 }, hint: "(e.g. 12345)" %>
    </div>

    <div class="field is-inline-flex">
      <%= f.input :county %>
      <%= f.input :region %>
      <%= f.input :neighborhood %>
    </div>
  </div>
</fieldset>
