<%= simple_form_for @team do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :standing_meeting_schedule, hint: "(e.g. Tuesdays @ 7pm)" %>
    <%= f.input :description %>
    <%= f.association :organization %>
    <%= f.input :display_on_org_chart, as: :radio_buttons %>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, record: @team, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
