<%= simple_form_for @communication_log, wrapper: :default, defaults: { wrapper: false } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :person %>
    <%= f.input :channel %>
    <%= f.input :sent_at %>
    <%= f.input :needs_follow_up %>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, resource: @communication_log, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
