<%= simple_form_for @communication_log do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :person, include_blank: true, selected: f.object.person_id || params[:person_id] %>
    <%= f.association :match, include_blank: true, selected: f.object.match_id || params[:match_id], label: "Re: Match" %>

    <div class="field is-grouped">
      <%= f.input :sent_at, label: "Time sent/received", default: Time.now, required: true %>
      <%= f.input :outbound, as: :radio_buttons, checked: true, label: "Outbound message?", hint: "(Sent by you, or, received by you?)" %>
    </div>

    <div class="field is-grouped">
      <%= f.input :delivery_method_id, as: :select, required: true, collection: ContactMethod.enabled.pluck(:name, :id), selected: f.object.delivery_method_id || params[:delivery_method_id] || @delivery_method_id %>
      <%= f.input :delivery_status, as: :select, required: true, collection: CommunicationLog::DELIVERY_STATUSES, selected: f.object.delivery_status || params[:delivery_status] %>
      <%= f.input :needs_follow_up, as: :radio_buttons, checked: f.object.needs_follow_up || params[:needs_follow_up] || true %>
      <%= f.hidden_field :auto_generated, value: false %> <!-- FIXME: block editing auto_generated logs? -->
    </div>

    <%= f.input :subject, as: :text, label: "Topic/subject", input_html: { rows: 1 } %>

    <hr>
    <% if f.object.auto_generated? %>
      <%= f.label :body, class: "label" %>
      <%= f.object.body&.html_safe || "-- Empty --" %>
    <% else %>
      <%= f.input :body, as: :text, label: "Message/notes", input_html: { rows: 3 } %>
    <% end %>
  </div>

  <% save_and_edit_button = f.submit "Save and go to Match", class: "button mt-1 is-primary" %>
  <%= render "layouts/view_footer_buttons", f: f, resource: @communication_log, top_divider: true, button_class: "is-primary is-outlined", extra_form_button_1: nil, extra_form_button_2: save_and_edit_button %>
<% end %>
