<%= render "layouts/view_header", resource: @communication_log %>

<div class="section-detail">
  <p>
    <strong>Person:</strong>
    <%= @communication_log.person&.name %>
  </p>

  <p>
    <strong>Delivery method:</strong>
    <%= @communication_log.delivery_method&.name %>
  </p>

  <p>
    <strong>Delivery status:</strong>
    <%= @communication_log.delivery_status %>
  </p>

  <p>
    <strong>Sent at:</strong>
    <%= @communication_log.sent_at %>
  </p>

  <p>
    <strong>Needs follow up:</strong>
    <%= yes_no(@communication_log.needs_follow_up) %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= @communication_log.subject %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @communication_log.body&.html_safe %>
  </p>

  <hr>

  <%= edit_button(@communication_log) %>
</div>

