<%= simple_form_for announcement do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>

    <% if !["new", "create"].include?(action_name) %>
      <%= f.input :is_approved, as: :radio_buttons %>
    <% end %>

    <div class="is-grouped">
      <%= f.input :publish_from %>
      <%= f.input :publish_until, include_blank: true %>
    </div>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, resource: announcement, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
