<%= simple_form_for @announcement, wrapper: :default, defaults: { wrapper: false } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :display_date_start %>
    <%= f.input :display_date_end %>
  </div>

  <%= render "layouts/view_template_form_buttons", f: f, record: @announcement, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
