<div class="columns is-marginless">
  <div class="column is-9">
    <h1 class="title">Announcements</h1>
    <br>
  </div>
  <div class="column is-2">
    <%= render "layouts/add_new_button", table_name: "announcements" %>
  </div>
</div>

<table class="table table-hover table-curved table-condensed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Published?</th>
    <th>Edit</th>
  </tr>
  </thead>
  <tbody>
  <% @announcements.each do |announcement| %>
    <tr>
      <td>
        <strong><%= announcement.name %></strong>
      </td>
      <td>
        <strong><%= announcement.description.truncate(20) %></strong>
      </td>
      <td class="has-text-centered"><%= yes_no(announcement.published?) %></td>
      <td>
        <%= link_to("<span class='fa fa-edit'></span><span></span>".html_safe,
                    edit_announcement_path(announcement) ,
                    title: "Edit #{announcement.name}",
                    class: "btn btn-default") if current_user %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
