<%= render "layouts/view_header", resource: @announcements.first %>

<div class="row">
  <ul>
    <% @announcements.each do |announcement| %>
      <li class="box">
        <p class="title is-5"><%= announcement.name %></p>
        <p>
        <%= announcement.description.truncate(100) %>
        <%= link_to("More [*]", announcement_path(announcement)) if announcement.description.length > 100 %>
        </p>
        <% if policy(announcement).change? %>
          <footer class="level is-mobile mt-1">
            <p class="level-left"></p>
            <div class="level-right">
              <p class="level-item is-size-7"><%= announcement.published? ? 'Published' : 'Unpublished' %></p>
              <p class="level-item"><%= yes_no(announcement.published?) %></p>
              <p class="level-item"><%= link_to('Edit', edit_announcement_path(announcement)) %></p>
            </div>
          </footer>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<br><br>
<%= link_to "Admin home", admin_dashboard_path if policy(Announcement).change? %>
