<%= render "layouts/view_header", resource: announcement %>

<p id="notice"><%= notice %></p>

<div class="section-detail">
  <p>
    <strong>Name:</strong>
    <%= announcement.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= announcement.description %>
  </p>

  <p>
    <strong>Display date start:</strong>
    <%= announcement.publish_from %>
  </p>

  <p>
    <strong>Display date end:</strong>
    <%= announcement.publish_until %>
  </p>

  <% if policy(announcement).change? %>
    <%= link_to 'Edit', edit_announcement_path(announcement) %> |
  <% end %>
  <%= link_to 'Back', announcements_path %>
</div>

