<div class="title is-1">Resend confirmation instructions</div>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input" %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: "button mt-1 is-primary" %>
  </div>
<% end %>
<br><br>
<%= render "devise/shared/links" %>
