<%= simple_form_for @position do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :organization %>
    <%= f.association :person %>
    <%= f.input :position_type, as: :select, collection: Position::FORM_CONTACT_TITLES %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :is_primary, as: :radio_buttons %>
    <%= f.input :notes %>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, resource: @position, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
