<%= render "layouts/view_header", resource: @positions.first %>

<div class="section-detail">
  <table class="table table-hover table-curved table-condensed">
    <thead>
    <tr>
      <th>Person</th>
      <th>Organization/Team</th>
      <th>Position type</th>
      <th>Title</th>
      <th>Description</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Is primary</th>
      <th>Display on org chart</th>
      <th>Notes</th>
      <th>Edit</th>
    </tr>
    </thead>

    <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.person&.name %></td>
        <td><%= position.organization&.name %><%= "/" + position.team&.name if position.team_id %></td>
        <td><%= position.position_type %></td>
        <td><%= position.name %></td>
        <td><%= position.description %></td>
        <td><%= position.start_date %></td>
        <td><%= position.end_date %></td>
        <td><%= yes_no(position.is_primary) %></td>
        <td><%= yes_no(position.display_on_org_chart) %></td>
        <td><%= position.notes %></td>
        <td><%= edit_button(position) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
