<%= render "layouts/view_header", resource: @position %>

<div class="section-detail">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Organization:</strong>
    <%= @position.organization&.name %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= @position.person&.name %>
  </p>

  <p>
    <strong>Position type:</strong>
    <%= @position.position_type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @position.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @position.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @position.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @position.end_date %>
  </p>

  <p>
    <strong>Is primary:</strong>
    <%= @position.is_primary %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @position.notes %>
  </p>

  <%= link_to 'Edit', edit_position_path(@position) %> |
  <%= link_to 'Back', positions_path %>
</div>
