<%= simple_form_for @system_setting do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :exchange_type, as: :select, collection: @exchange_types %>
    <%= f.input :separate_asks_offers, as: :radio_buttons, label: "Separate ask and offer forms" %>
    <%= f.input :allow_sms, as: :radio_buttons %>
    <%= f.input :community_resources_module, as: :radio_buttons %>
    <%= f.input :announcements_module, as: :radio_buttons %>
    <%= f.input :positions_module, as: :radio_buttons %>
    <%= f.input :donations_module, as: :radio_buttons %>
    <%= f.input :shared_accounts_module, as: :radio_buttons %>
    <%= f.input :chat_module, as: :radio_buttons %>
    <hr>
    <div class="html-info">
      'HTML-enabled' fields below allow you to enter plain text and/or to include the following tags:
      <br>
      <ul>
        <% HtmlSanitizer.tags.each do |el| %>
          <li><%= el %></li>
        <% end %>
      </ul>
    </div>
    <div class="is-inline-flex">
      <%= f.input :about_us_text,
                  label: "About us text (<a href='https://htmleditor.io/'>HTML-enabled</a>)".html_safe %>
    </div>
    <div class="is-inline-flex">
      <%= f.input :landing_page_text_who,
                  label: "Landing page text: Who (
                           <a href='https://htmleditor.io/'>HTML-enabled</a>)".html_safe %>
      <%= f.input :landing_page_text_what,
                  label: "Landing page text: What (
                           <a href='https://htmleditor.io/'>HTML-enabled</a>)".html_safe %>
      <%= f.input :landing_page_text_how,
                  label: "Landing page text: How (
                           <a href='https://htmleditor.io/'>HTML-enabled</a>)".html_safe %>
    </div>
    <div class="is-inline-flex">
      <%= f.input :confirmation_page_text_header,
                  as: :text,
                  label: "Submission confirmation (thank you) page text: Header
                  (<a href='https://htmleditor.io/'>HTML-enabled</a>)".html_safe,
                  input_html: { value: f.object.confirmation_page_text_header ||
                      "<div class='subtitle is-3'>Thank you for your submission!</div>
                      <div>We've sent you a confirmation email (if you provided an email).</div>" } %>
      <%= f.input :confirmation_page_text_body,
                  as: :text,
                  label: "Submission confirmation (thank you) page text: Body
                  (<a href='https://htmleditor.io/'>HTML-enabled</a>)".html_safe,
                  input_html: { value: f.object.confirmation_page_text_body ||
                      "<div class='subtitle is-5'>We'll be in touch if we're able to find a match.</div>" }
      %>
      <%= f.input :confirmation_page_text_link_header,
                  as: :text,
                  label: "Submission confirmation (thank you) page text: Links
                  (<a href='https://htmleditor.io/'>HTML-enabled</a>)".html_safe,
                  input_html: { value: f.object.confirmation_page_text_link_header ||
                      "Check these out:" }
      %>
      <%= f.input :confirmation_page_text_footer,
                  as: :text,
                  label: "Submission confirmation (thank you)  page text: Footer
                  (<a href='https://htmleditor.io/'>HTML-enabled</a>)".html_safe,
                  input_html: { value: f.object.confirmation_page_text_footer }
      %>
    </div>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, resource: @system_setting, top_divider: true, delete_button: "" %>
<% end %>
