<%= @primary_organization.name %>
<%= render "layouts/view_header", resource: @system_setting, page_title: "System Settings" %>

<div class="section-detail">
  <hr>
  <div class="subtitle is-5">Exchange settings</div>
  <p>
    <strong>Exchange type:</strong>
    <%= @system_setting.exchange_type %>
  </p>

  <p>
    <%= yes_no(@system_setting.separate_asks_offers) %>
    <strong>Separate ask and offer forms</strong>
  </p>

  <p>
    <%= yes_no(@system_setting.display_navbar) %>
    <strong>Display the navbar</strong> on the Community Resources and Annoucements pages
  </p>

  <hr>
  <div class="subtitle is-5">Modules</div>
  <p>
    <%= yes_no(@system_setting.announcements_module) %>
    <strong>Announcements</strong> module
  </p>

  <p>
    <%= yes_no(@system_setting.community_resources_module) %>
    <strong>Community resources</strong> module
  </p>

  <p>
    <%= yes_no(@system_setting.donations_module) %>
    <strong>Donations</strong> module
  </p>

  <p>
    <%= yes_no(@system_setting.positions_module) %>
    <strong>Positions</strong> module
  </p>

  <p>
    <%= yes_no(@system_setting.shared_accounts_module) %>
    <strong>Shared accounts</strong> module
  </p>


  <hr>
  <div class="subtitle is-5">Messaging settings</div>
  <p>
    <%= yes_no(@system_setting.chat_module) %>
    <strong>Chat</strong> module
  </p>

  <p>
    <%= yes_no(@system_setting.allow_sms) %>
    <strong>Allow sms</strong>
  </p>


  <hr>
  <div class="subtitle is-5">Landing page text</div>
  <p>
    <strong>Who:</strong>
    <br>
    <%= @system_setting.landing_page_text_who&.html_safe %>
  </p>

  <p>
    <strong>How:</strong>
    <br>
    <%= @system_setting.landing_page_text_how&.html_safe %>
  </p>

  <p>
    <strong>What:</strong>
    <br>
    <%= @system_setting.landing_page_text_what&.html_safe %>
  </p>

  <hr>
  <div class="subtitle is-5">About us page text</div>
  <p>
    <strong>About us:</strong>
    <br>
    <%= @system_setting.about_us_text&.html_safe %>
  </p>

  <hr>

  <%= link_to('Edit', edit_system_setting_path(@system_setting)) + " | " if current_user.sys_admin_role? %>
  <%= link_to 'Admin', landing_page_admin_path %>
</div>
