<%= render partial: 'glossary/header' %>
<%= link_to "View Glossary", glossary_path %>
<hr>
<div class="glossary_form">
  <%= form_with model: @system_settings, url: glossary_path, local: true do |f| %>
    <div class="field">
      <%= f.rich_text_area :glossary_content %>
    </div>
    <div class="field">
      <%= f.submit "Update Glossary" %>
    </div>
  <% end %>
</div>
