<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
