<%= form_with(model: listing, local: true, class: 'listing-form') do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="lead">
  No private information you enter below will be visible or shared publicly.
  and you can leave blank any fields you prefer not to to fill out.
  </p>

  <%= form.fields_for :location do |location_form| %>
    <div class="form-group">
      <%= location_form.label :city %>
      <%= location_form.text_field :city, list: "cities", class: "form-control", placeholder: "Select one of the cities below or type another in..." %>
      <datalist id="cities">
        <%= LocationForm::CITIES.each do |city| %>
          <option value="<%= city %>"></option>
        <% end %>
      </datalist>
    </div>
    <div class="form-group">
      <%= location_form.label :zip %>
      <%= location_form.text_field :zip, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= location_form.label :street_address %>
      <%= location_form.text_field :street_address, class: "form-control" %>
      <small class="form-text text-muted">You may enter a proximate address, eg "1200 Block, 1st St"</small>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tags %>
    <%= form.collection_check_boxes(:tags, ListingForm.all_tags, :itself, :itself) do |b| %>
      <%# Derived from https://bootsnipp.com/snippets/M2bda %>
      <div class="form-group mb-0">
        <%= b.check_box(class: "d-none") %>
        <div class="btn-group">
          <%= b.label(class: "btn btn-sm btn-outline-secondary") do %>
            <span>&#10003;</span> <!-- made visible via css when checked -->
            <span> </span>
          <% end %>
          <%= b.label(class: "btn btn-sm btn-outline-secondary btn-block") do %>
            <%= b.value.capitalize %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: "btn btn-primary" %>
  </div>
<% end %>
