<div class="title is-3">Confirm Match</div>

<%= link_to("Autogenerate system email to offer owner", root_path, class: "button is-primary is-outlined") %>
<br>
<%= link_to("Autogenerate system text to offer owner", root_path, class: "button is-primary is-outlined") %>
<br>
<%= link_to("Log email to offer owner", new_communication_log_path, class: "button is-primary is-outlined") %>
<br>
<%= link_to("Log text to offer owner", new_communication_log_path, class: "button is-primary is-outlined") %>
<br>
<%= link_to("Cancel", root_path, class: "button is-primary is-outlined") %>
<br>
