<%= render "layouts/view_header", resource: @listings.first %>

<%= render "search_boxes" %>

<br><hr><br>

<table class="table table-hover table-curved table-condensed">
  <thead>
    <tr>
      <th>Type</th>
      <th>Person</th>
      <th>Category</th>
      <th>Title</th>
      <th>Service Area</th>
      <th>Created</th>
      <th>Urgency</th>
      <th>Match</th>
      <th>Action</th>
      <th>Triage</th>
      <!-- <th>Find Match</th>-->
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <% unmatched = listing.status == "unmatched" %>
      <% urgency_level_text = UrgencyLevel.find(listing.urgency_level_id)&.name %>
      <tr>
        <td style="white-space: nowrap">
          <span class="<%= listing.icon_class %>"></span> <%= listing.type %>
        </td>
        <td><%= listing.person&.name %></td>
        <td><span class="tag is-info is-light"><%= listing.all_tags_to_s.upcase %></span></td>
        <td><%= listing.title %></td>
        <td><%= listing.service_area&.name %></td>
        <td><%= shorthand_display(listing.created_at) %></td>
        <td><%= urgency_level_display(urgency_level_text) if urgency_level_text %></td>
        <td style="white-space: nowrap" title="<%= listing.status %>">
          <% if unmatched %>
            <span class="tag is-warning is-light">
              <%= listing.status %><%= " (#{listing.matches.count})" if listing.matches.count > 1 %>
            </span>
            <span class="tag <%= 'is-warning fa fa-exclamation' %>"></span>
          <% else %>
            <% if listing.matches.count > 1 %>
              <%= link_to "View Matches #{" (#{listing.matches.count})"}", matches_path(match_ids: listing.matches.map(&:id)), class: "button is-primary is-outlined" %>
            <% else %>
              <%= link_to "View Match", edit_match_path(listing.matches.last), class: "button is-primary is-outlined" %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to("<span class='fa fa-reply'></span> <span> &nbsp Respond</span>".html_safe, respond_contribution_path(listing, contribution_type: listing.type),
                      class: "button #{unmatched ? "is-primary" : "is-primary is-outlined"}") %>
        </td>
        <td>
          <%= triage_button(listing, 'is-primary is-outlined') %>
        </td>
        <!-- # TODO - add find match functionality <td><%##= link_to("Find Match [TBD]", match_listing_path(listing), class: "button") %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>
