<%= render "layouts/view_header", resource: @listings.first %>

<table class="table table-hover table-curved table-condensed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Respond</th>
    <th>Find Match</th>
    <th>Create Match</th>
    <th>Edit</th>
  </tr>
  </thead>

  <tbody>
  <% @listings.each do |listing| %>
    <tr>
      <td><%= listing.name %></td>
      <td><span class="<%= listing.icon_class %>"></span></td>
      <td><%= link_to("Respond", respond_contribution_path(listing, contribution_type: listing.type),
                      class: "button") %>
      </td>
      <td><%= link_to("Find Match [TBD]", match_listing_path(listing), class: "button") %></td>
      <td>
        <% if listing.offer? %>
          <%= link_to("Create Match",
                      new_match_path(provider_id: listing.id, provider_type: listing.type),
                      class: "button") %>
        <% else %>
          <%= link_to("Create Match",
                      new_match_path(receiver_id: listing.id, receiver_type: listing.type),
                      class: "button") %>
        <% end %>
      </td>
      <td><%= edit_button(listing) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
