<%= render "layouts/view_header", resource: @listing %>

<p>
  <strong>Status:</strong>
  <%= @listing.status %>
</p>
<p>
  <strong>Created at:</strong>
  <%= @listing.created_at.strftime("%Y-%m-%d %H:%M %p") %>
</p>
<p>
  <strong>Person:</strong>
  <%= link_to(@listing.person&.name, edit_person_path(@listing.person)) %>
</p>
<p>
  <strong>Service area:</strong>
  <%= @listing.service_area&.name %>
</p>
<p>
  <strong>City:</strong>
  <%= @listing.location&.city %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @listing.location&.zip %>
</p>
<p>
  <strong>Street address:</strong>
  <%= @listing.location&.street_address %>
</p>
<p>
  <strong>Tags:</strong>
  <ul class="list-group">
    <% @listing.all_tags_unique.sort.each do |tag| %>
      <li class="list-group-item tag"><%= tag.capitalize %></li>
      <br>
    <% end %>
  </ul>
</p>
<p>
  <strong>Matches:</strong>
  <ul class="list-group">
    <% @listing.matches_as_receiver.each do |match| %>
      <li class="list-group-item"><%= match.created_at.strftime("%Y-%m-%d") %>:  <%= link_to(match.name, edit_match_path(match)) %></li>
      <br>
    <% end %>
    <% @listing.matches_as_provider.each do |match| %>
      <li class="list-group-item"><%= match.created_at.strftime("%Y-%m-%d") %>: <%= link_to(match.name, edit_match_path(match)) %></li>
      <br>
    <% end %>
  </ul>
</p>

<hr>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
