<h2>Offer/Ask</h2>
<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @listing.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @listing.phone %>
</p>
<p>
  <strong>City:</strong>
  <%= @listing.location.city %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @listing.location.zip %>
</p>
<p>
  <strong>Street address:</strong>
  <%= @listing.location.street_address %>
</p>
<p>
  <strong>Offers/asks</strong>
  <ul class="list-group">
    <% @listing.tags.each do |tag| %>
      <li class="list-group-item"><%= tag.capitalize %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
