<%= simple_form_for @translation, wrapper: :default, defaults: { wrapper: false } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :translatable_type %>
    <%= f.input :translatable_id %>
    <%= f.input :english_text %>
    <%= f.input :translated_text %>
    <%= f.input :submitted_by %>
    <%= f.input :approved %>
  </div>

  <%= render "layouts/view_template_form_buttons", f: f, record: @translation, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
