<div class="columns is-marginless">
  <div class="column is-9">
    <h1 class="title">Translations</h1>
    <br>
  </div>
  <div class="column is-2">
    <%= render "layouts/add_new_button", table_name: "translations" %>
  </div>
</div>

<table class="table table-hover table-curved table-condensed">
  <thead>
  <tr>
          <th>Translatable type</th>
          <th>Translatable</th>
          <th>English text</th>
          <th>Translated text</th>
          <th>Submitted by</th>
          <th>Approved</th>
        <th>Edit</th>
  </tr>
  </thead>

  <tbody>
  <% @translations.each do |translation| %>
    <tr>
              <td><%= translation.translatable_type %></td>
              <td><%= translation.translatable_id %></td>
              <td><%= translation.english_text %></td>
              <td><%= translation.translated_text %></td>
              <td><%= translation.submitted_by %></td>
              <td><%= translation.approved %></td>
            <td><%= link_to 'Edit', edit_translation_path(translation) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
