<%= simple_form_for @person, wrapper: :default, defaults: { wrapper: false } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :phone_2 %>
    <%= f.input :email_2 %>
    <%= f.input :preferred_contact_method %>
    <%= f.input :preferred_contact_timeframe %>
    <%= f.input :skills %>
    <%= f.input :notes %>
    <%= f.association :user %>
  </div>

  <%= render "layouts/view_template_form_buttons", f: f, resource: @person, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
