<% viewing_self = current_user == @person.user %>

<div class="section-detail">
  <div class="title is-5">Profile:</div>
  <div class="title is-1"><%= @person.name %></div>
  <hr>

  <div>
    <strong>Preferred contact info: </strong>
    <span class="<%= @person.preferred_contact_method.icon_class %>"></span>
    <span class="subtitle is-5"><%= @person.preferred_contact_info %></span>
  </div>

  <br>

  <div>
    <strong>Phone:</strong>
    <%= @person.phone %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= @person.email %>
  </div>

  <div>
    <strong>Phone 2:</strong>
    <%= @person.phone_2 %>
  </div>

  <div>
    <strong>Email 2:</strong>
    <%= @person.email_2 %>
  </div>

  <div>
    <strong>Skills:</strong>
    <%= @person.skills %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= @person.notes %>
  </div>

  <div>
    <strong>Links:</strong>
    <br>
    <%= edit_button(@person, "Edit #{viewing_self ? 'My Record' : 'Person'}") %>
    <%= edit_button(@person.user, "Edit #{'My ' if viewing_self} Account") if @person.user_id %>
  </div>

  <br>

  <div class="content ask-tags">
    <% if @admin_status %>
      <hr>
      <h3>Unmatched Asks:</h3>
      <!-- # listing ask tags-->
      <%= render "people/profile_partials/profile_listings_section", listings: @person.asks.matchable %>
    <% end %>
  </div>
  <div class="content offer-tags">
    <hr>
    <h3>Unmatched Offers:</h3>
    <!-- # listing ask tags-->
    <%= render "people/profile_partials/profile_listings_section", listings: @person.offers.matchable %>
  </div>

  <div class="content">
    <hr>
    <h3>Matches:</h3>
    <em>Provider in <span class="has-text-weight-bold"><%= @person.matches_as_provider.this_month.count %></span> (of <%= @person.monthly_matches_max %> max) <%= "match".pluralize(@person.monthly_matches_max) %> in <%= Time.zone.today.strftime("%B %Y") %></em>
    <ul type="1">
      <% @provider_matches.each do |match| %>
        <li><%= edit_button(match, "#{match.created_at.strftime("%a, %b %d, %Y @ %l:%M %P")} " + match.name) %>
          <% if params[:match_id].to_i == match.id %>
            <%= edit_button(match, "Return to this match", "fa fa-reply", nil, "is-primary ")%>
          <% elsif params[:contribution_id].to_i == match.provider_id %>
            <%= edit_button(match, "Respond to this Contribution", "fa fa-reply", nil, "is-primary ")%>
          <% end %>
        </li>
      <% end %>
    </ul>
    <hr>
    <% matches_as_receiver_count = @person.matches_as_receiver.this_month.count %>
    <em>Receiver in <span class="has-text-weight-bold"><%= matches_as_receiver_count %></span> <%= "match".pluralize(matches_as_receiver_count) %> in <%= Time.zone.today.strftime("%B %Y") %></em>
    <ul type="1">
      <% @receiver_matches.each do |match| %>
        <li><%= edit_button(match, "#{match.created_at.strftime("%a, %b %d, %Y @ %l:%M %P")} " + match.name) %>
          <% if params[:match_id].to_i == match.id %>
            <%= edit_button(match, "Return to this match", "fa fa-reply", nil, "is-primary ") %>
          <% elsif params[:contribution_id].to_i == match.provider_id %>
            <%= edit_button(match, "Respond to this Contribution", "fa fa-reply", nil, "is-primary ")%>
          <% end %>


        </li>
      <% end %>
    </ul>
    <%= link_to "View all #{@person.name}'s matches", matches_path(id: @match_ids) %>
  </div>

  <hr>

  <div class="content">
    <h3>Donations:</h3>
    <em><%= @person.donations.this_month.sum(&:value) %>/<%= @person.monthly_donation_amount_max %> for <%= Time.zone.today.strftime("%B") %></em>
    <ul type="1">
      <% @person.donations.each do |donation| %>
        <li><%= link_to donation.name, donation_path(donation) %></li>
      <% end %>
    </ul>
  </div>

  <hr>

  <div class="content">
    <h3>Communication logs: <%= render "layouts/view_add_new_button", table_name: "communication_logs", new_params: "person_id=#{@person.id}" %></h3>
    <ul type="1">
      <% @person.communication_logs.each do |log| %>
        <li><%= log.needs_follow_up ? "<span class='fa fa-check-circle has-text-grey'></span>".html_safe : "<span class='fa fa-exclamation-circle has-text-warning'></span>".html_safe %> <%= link_to "#{log.created_at.strftime("%a, %b %d, %Y @ %l:%M %P")} - #{log.delivery_method&.name}: #{log.subject}", edit_communication_log_path(log) %></li>
      <% end %>
    </ul>
  </div>

  <hr>

  <div class="content">
    <h3>Submissions:</h3>
    <ul type="1">
      <% @person.submissions.order(created_at: :desc).each do |submission| %>
        <li><%= link_to submission.name, submission_path(submission) %></li>
      <% end %>
    </ul>
  </div>

  <hr>

  <%= link_to 'People index', people_path %>
</div>
