<section>
  <%= content_tag(:h1, "Claim This #{contribution.type}", class: "title") %>
  <div class="box">
    <p class="mb-2">
      Information you enter here will be delivered directly to the other party.
      Remember to protect yourself and never provide sensitive personal info to
      strangers.
    </p>
        
    <%= simple_form_for :claim, url: contribution_claims_path(contribution) do |f| %>
      <%= f.input :peer_alias, as: :string, label: false, placeholder: "Alias or handle (do not use your real name here)", required: true %>
      <%= f.input :preferred_contact_method_id, collection: Array(ContactMethod.email), label: "Preferred contact method", required: true %>
      <%= f.input :preferred_contact_info, as: :string, placeholder: "Add your phone number or email address", input_html: { value: preferred_contact_info }, required: true  %>
      <%= f.input :message, as: :text, required: true, placeholder: "Add some introductory text here. We do not share your contact information
                                                     with the other party. Please only share information that you are comfortable
                                                    sharing to facilitate this conversation.".squish %>
      <%= f.button :submit, "I understand, let's go!", class: "is-primary" %>
    <% end %>
  </div>
  <%= link_to "<i class=\"fas fa-arrow-left\"></i> Nevermind, I'm not ready".html_safe, :back %>
</section>
