<%# needs admin_buttons_list %>
<% include_system_settings_row ||= false %>

<table class="table table-hover table-curved table-condensed">
  <tbody>
    <% admin_buttons_list.sort_by(&:first).each do |table_name, optional_text| %>
      <% module_exists = @system_setting.methods.include?("#{table_name}_module".to_sym) %>
      <!-- if module_exists, check its boolean value before including the link -->
      <% if module_exists && @system_setting.public_send("#{table_name}_module".to_sym) %>
        <tr>
          <td>
            <%= render "layouts/view_add_new_button", table_name: table_name, hide_text: true, small_button: true %>
            <%= link_to "#{optional_text || table_name.classify.constantize.model_name.human.pluralize}", table_name %>
          </td>
        </tr>
      <!-- otherwise, always display the row/links -->
      <% else %>
        <tr>
          <td>
            <%= render "layouts/view_add_new_button", table_name: table_name, hide_text: true, small_button: true %>
            <%= link_to "#{optional_text || table_name.classify.constantize.model_name.human.pluralize}", table_name %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if include_system_settings_row %>
      <tr>
        <td>
          <a class="button is-primary is-small" href="/system_settings/new"><span class="fa fa-cog"></span><span class=" has-text-white"></span></a>
          <%= link_to "System Settings", new_system_setting_path %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>