<div class="columns is-marginless">
  <div class="column is-12">
    <div class="title">Admin</div>
    <br>
  </div>
</div>

<div class="row columns">
  <div class="column is-3">
    <div class="subtitle is-3">Manage</div>
    <table class="table table-hover table-curved table-condensed">
      <tbody>
        <tr><td><%= link_to "View unmet Asks", listings_path(contribution_type: "Ask") %></td></tr>
        <tr><td><%= link_to "View outstanding Offers", listings_path(contribution_type: "Offer") %></td></tr>
        <tr><td><%= link_to "Manage Volunteers", volunteer_admin_path %></td></tr>
        <tr><td><%= link_to "Manage CommunityResources", community_resources_path(is_approved: false) %></td></tr>
      </tbody>
    </table>
  </div>
  <div class="column is-3">
    <div class="subtitle is-3">Contributions</div>
    <% admin_buttons_list_1 = [
        ["announcements"],
        ["community_resources", "Community Resources"],
        ["donations"],
        ["feedbacks", "Feedback"],
        ["asks"],
        ["offers"],
        ["matches"],
        ["people"],

    ] %>
    <%= render "admin_buttons_list", admin_buttons_list: admin_buttons_list_1, include_system_settings_row: false %>
  </div>

  <div class="column is-3">
    <div class="subtitle is-3">Internal Tracking</div>
    <% admin_buttons_list_2 = [
        ["communication_logs", "Communication Logs"],
        ["organizations"],
        ["positions"],
        ["shared_accounts", "Shared Accounts"],
        ["software_feedbacks", "Software Feedback"],
        ["submissions"],
        ["users", "User accounts"],
    ] %>
    <%= render "admin_buttons_list", admin_buttons_list: admin_buttons_list_2, include_system_settings_row: false %>
  </div>

  <div class="column is-3">
    <div class="subtitle is-3">System Setup</div>
    <% admin_buttons_list_3 = [
        ["categories"],
        ["contact_methods", "Contact Methods"],
        ["custom_form_questions", "Form Questions"],
        ["mobility_string_translations", "Translations"],
        ["service_areas", "Service areas/locations/pods"],
        ["system_locales", "System Locales"],
    ] %>
    <%= render "admin_buttons_list", admin_buttons_list: admin_buttons_list_3, include_system_settings_row: true %>
  </div>
</div>
