<style>
  .pie {
    width: 100px; height: 100px;
    border-radius: 50%;
    background: conic-gradient(#00d1b2 <%= @percent_asks_fulfilled.to_i %>%, #655 0);
  }
</style>

<div class="columns">
  <div class="column is-12">
    <div class="title">Admin home</div>
    <hr>
  </div>
</div>

<div class="row columns">
  <div class="columns column is-12">
    <div class="column is-4">
      <%= link_to "Review pending Community Resources", community_resources_path(is_approved: false) %> <span class="tag"><%= @announcements_pending_count %></span>
      <br>
      <%= link_to "Review pending Announcements", announcements_path(is_approved: false) %> <span class="tag"><%= @community_resources_pending_count %></span>
      <br>
      <%= link_to "Manage Volunteers", volunteer_admin_path %>
    </div>
    <div class="column is-4">
      <%= link_to "View unmatched Asks", listings_path(contribution_type: "Ask") %> <span class="tag"><%= @asks_unmatched_count %></span>
      <br>
      <%= link_to "View unmatched Offers", listings_path(contribution_type: "Offer") %> <span class="tag"><%= @offers_unmatched_count %></span>
      <br>
      <%= link_to "All Submissions", submissions_path %> <span class="tag"><%= @submission_count %></span>
      <br>
      <%= link_to "Create new Ask", new_offer_path %><!-- # TODO change this to new_ask_path once available-->
      <br>
      <%= link_to "Create new Offer", new_offer_path %>

    </div>
    <div class="column columns is-4">
      <div class="column">
        <div class="pie"></div>
        <%= @percent_asks_fulfilled %>% (<%= @match_count %>/<%= @ask_count %>) Asks matched
      </div>
      <div class="column">
        <div class="pie"></div>
        <%= @percent_offers_fulfilled %>% (<%= @match_count %>/<%= @offer_count %>) Offers matched
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row columns">
  <div class="column is-4">
    <div class="subtitle is-5">Contributions</div>
    <% admin_buttons_list_1 = [
        ["announcements"],
        ["community_resources", "Community Resources"],
        ["donations"],
        ["feedbacks", "Feedback"],
        ["asks"],
        ["offers"],
        ["matches"],
        ["people"],

    ] %>
    <%= render "admin_buttons_list", admin_buttons_list: admin_buttons_list_1, include_system_settings_row: false %>
  </div>

  <div class="column is-4">
    <div class="subtitle is-5">Internal Tracking</div>
    <% admin_buttons_list_2 = [
        ["communication_logs", "Communication Logs"],
        ["locations"],
        ["organizations"],
        ["positions"],
        ["shared_accounts", "Shared Accounts"],
        ["software_feedbacks", "Software Feedback"],
        ["submissions"],
        ["users", "User accounts"],
    ] %>
    <%= render "admin_buttons_list", admin_buttons_list: admin_buttons_list_2, include_system_settings_row: false %>
  </div>

  <div class="column is-4">
    <div class="subtitle is-5">System Setup</div>
    <% admin_buttons_list_3 = [
        ["categories"],
        ["contact_methods", "Contact Methods"],
        ["custom_form_questions", "Form Questions"],
        ["location_types"],
        ["mobility_string_translations", "Translations"],
        ["service_areas", "Service areas"],
        ["system_locales", "System Locales"],
    ] %>
    <%= render "admin_buttons_list", admin_buttons_list: admin_buttons_list_3, include_system_settings_row: true %>
  </div>
</div>
