<div class="columns is-marginless">
  <div class="column is-12">
    <div class="title">Admin</div>
    <br>
  </div>
</div>

<div class="row columns">
  <div class="column is-3">
    <div class="subtitle is-3">Actions</div>
    <table class="table table-hover table-curved table-condensed">
      <tbody>
        <tr><td><%= link_to "View unmet Asks", listings_path %></td></tr>
        <tr><td><%= link_to "View outstanding Offers", listings_path %></td></tr>
        <tr><td><%= link_to "Manage Volunteers", volunteer_admin_path %></td></tr>
        <tr><td><%= link_to "Manage CommunityResources", community_resources_path(is_approved: false) %></td></tr>
      </tbody>
    </table>
  </div>
  <div class="column is-3">
    <div class="subtitle is-3">Data</div>
    <% admin_buttons_list_1 = [
        ["announcements"],
        ["communication_logs", "Communication Logs"],
        ["community_resources", "Community Resources"],
        ["donations"],
        ["feedbacks", "Feedback"],
        ["listings"],
        ["matches"],
        ["people"],
        ["positions"],
        ["submissions"],

    ] %>
    <%= render "admin_buttons_list", admin_buttons_list: admin_buttons_list_1, include_system_settings_row: false %>
  </div>

  <div class="column is-3">
    <div class="subtitle is-3">Settings</div>
    <% admin_buttons_list_2 = [
        ["categories"],
        ["custom_form_questions", "Custom Form Questions"],
        ["mobility_string_translations", "Translations"],
        ["organizations"],
        ["service_areas", "Locations and pods"],
        ["shared_accounts", "Shared Accounts"],
        ["system_locales", "System Locales"],
        ["users", "User Accounts"],
    ] %>
    <%= render "admin_buttons_list", admin_buttons_list: admin_buttons_list_2, include_system_settings_row: true %>
  </div>
</div>
