<style>
  .asks-pie {
    width: 100px; height: 100px;
    border-radius: 50%;
    background: conic-gradient(#00d1b2 <%= @percent_asks_fulfilled.to_i %>%, #655 0);
  }
</style>
<style>
  .offers-pie {
    width: 100px; height: 100px;
    border-radius: 50%;
    background: conic-gradient(#00d1b2 <%= @percent_offers_fulfilled.to_i %>%, #655 0);
  }
</style>

<div class="columns">
  <div class="column is-12">
    <div class="title">Admin home</div>
    <hr>
  </div>
</div>

<div class="row columns">
  <div class="columns column is-12">
    <div class="column is-4">
      <%= link_to "View unmatched Asks", contributions_path(contribution_type: "Ask") %> <span class="tag"><%= @asks_unmatched_count %></span>
      <br>
      <%= link_to "View unmatched Offers", contributions_path(contribution_type: "Offer") %> <span class="tag"><%= @offers_unmatched_count %></span>
    </div>
    <div class="column is-4">
      <%= link_to "View all Matches", matches_path %> <span class="tag"><%= @match_count %></span>
      <br>
      <%= link_to "View all Listings", listings_path %> <span class="tag"><%= @match_count %></span>
    </div>
    <div class="column is-4">
      <%= link_to "Create new Ask", new_ask_path %>
      <br>
      <%= link_to "Create new Offer", new_offer_path %>
    </div>
  </div>
</div>

<hr>

<div class="row columns">
  <div class="columns column is-12">
    <div class="column is-4">
      <%= link_to "Glossary!", glossary_admin_path %>
      <br>
      <%= link_to "Dispatch steps", dispatch_steps_admin_path %>
      <br>
      <%= link_to "Yearbook", yearbook_admin_path %>
      <br>
      <%= link_to "Org chart", org_chart_path %>
    </div>
    <div class="column is-4">
      <%= link_to "Manage Community Resources", community_resources_path(is_approved: false) %> <span class="tag"><%= @announcements_pending_count %></span>
      <br>
      <%= link_to "Manage Announcements", announcements_path(is_approved: false) %> <span class="tag"><%= @community_resources_pending_count %></span>
      <br>
      <%= link_to "Manage Volunteers", volunteer_admin_path %>
    </div>
    <div class="column columns is-4">
      <div class="column">
        <div class="asks-pie"></div>
        <%= @percent_asks_fulfilled %>% Asks matched (<%= @match_count %>/<%= @ask_count %>)
      </div>
      <div class="column">
        <div class="offers-pie"></div>
        <%= @percent_offers_fulfilled %>% Offers matched (<%= @match_count %>/<%= @offer_count %>)
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row columns">
  <div class="column is-4">
    <div class="subtitle is-5">Contribution Data</div>
    <% admin_buttons_list_1 = [
        ["announcements"],
        ["community_resources", "Community Resources"],
        ["donations"],
        ["feedbacks", "Feedback"],
        ["asks"],
        ["listings"],
        ["offers"],
        ["matches"],
        ["people"],

    ] %>
    <%= render "admin_buttons_list", admin_buttons_list: admin_buttons_list_1, include_system_settings_row: false %>
    <hr>
    <div class="subtitle is-8">Form Submission Data</div>
    <% admin_buttons_list_1a = [
        ["locations", "Locations, households, etc"],
        ["submissions", "Submissions (Form results)"],
        ["submission_responses", "Submission responses/answers"],
    ] %>
    <%= render "admin_buttons_list", admin_buttons_list: admin_buttons_list_1a, include_system_settings_row: false %>
  </div>

  <div class="column is-4">
    <div class="subtitle is-5">Admin Data</div>
    <% admin_buttons_list_2 = [
        ["communication_logs", "Communication Logs"],
        ["organizations"],
        ["positions"],
        ["shared_accounts", "Shared Accounts"],
        ["shifts"],
        ["software_feedbacks", "Software Feedback"],
        ["teams"],
        ["users", "User accounts"],
    ] %>
    <%= render "admin_buttons_list", admin_buttons_list: admin_buttons_list_2, include_system_settings_row: false %>
  </div>

  <div class="column is-4">
    <div class="subtitle is-5">System Setup</div>
    <% admin_buttons_list_3 = [
        ["categories"],
        ["contact_methods", "Contact Methods"],
        ["forms", "Forms"],
        ["custom_form_questions", "Custom Form Questions"],
        ["form_questions", "Form-Questions"],
        ["location_types"],
        ["mobility_string_translations", "Translations"],
        ["service_areas", "Service areas"],
        ["system_locales", "System Locales"],
    ] %>
    <%= render "admin_buttons_list", admin_buttons_list: admin_buttons_list_3, include_system_settings_row: true %>
  </div>
</div>
