<%= simple_form_for @system_tag, wrapper: :default, defaults: { wrapper: false } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :display_to_public %>
    <%= f.input :display_order %>
    <%= f.association :parent %>
    <%= f.association :organization %>
    <%= f.input :created_by %>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, resource: @system_tag, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
