<fieldset>
  <%= ff.error_notification %>

  <div class="form-inputs">
    <div class="field is-grouped">
      <%= ff.hidden_field :id %>
      <%= f.input :person, as: :select, label: "Person", collection: @people.transpose %>
      <%= ff.input :name, label: "Person's name" %>
      <%= ff.input :preferred_contact_method, as: :select, collection: @contact_methods, label: "Preferred contact method" %>
      <%= ff.input :email, label: "Email" %>
      <%= ff.input :phone, label: "Phone" %>
    </div>
  </div>
</fieldset>
