<div class="title is-3">Volunteer admin</div>

<%= link_to "Manage User Account permissions", users_path(position_type: "Volunteer") %>
<br>
<%= link_to "Add Shifts", shifts_path %>
<br>
<%= link_to "Review Dispatch steps", dispatch_steps_path %>
<br>
<%= link_to "View training status (NOT IMPLEMENTED)", people_path(position_type: "Volunteer")  %>
<br>
<%= link_to "Filter by workload (NOT IMPLEMENTED)", people_path(position_type: "Volunteer")  %>
<br>

<br>
<%= link_to "Admin home", admin_dashboard_path %>
