<%= render "layouts/view_header", resource: @shift %>

<p>
  <strong>Person:</strong>
  <%= @shift.person.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @shift.team.name %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @shift.started_at %>
</p>

<p>
  <strong>Ended at:</strong>
  <%= @shift.ended_at %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @shift.notes %>
</p>

<%= edit_button(@shift) %>
<%= link_to 'Back', shifts_path %>
