<%
  current_participant_is_not_participant = current_user.participant != @participant
  admin = current_user.admin?
  self_or_admin = current_user.participant == @participant || admin
  col_offset = current_participant_is_not_participant ? "col-md-offset-1" : "col-md-offset-3"
%>

<% if @participant %>
  <% positions_header = "<span class='#{GroupInvolvement::ICON} #{GroupInvolvement::ICON_COLOR_CLASS}-icon'></span> #{GroupInvolvement.model_name.human.pluralize}:".html_safe %>
  <strong><%= @admin_user ? link_to(positions_header,
                                    group_involvements_path(fest_code: @joined_fest_codes,
                                                            profile_request: true,
                                                            participant_profile_id: @participant_id,
                                                            participant_id: @participant_id)
  ) : positions_header %></strong>
  <div class="row">
    <%= "<ul>".html_safe if @view_all_fests %>
    <% @fest_codes.each do |code| %>
      <strong><%= code + ":" if @view_all_fests %></strong>
      <ul>
        <% if @participant.group_involvements.fest_code(code).any? %>
          <% @participant.group_involvements.fest_code(code).each do |involvement| %>
            <li>
              <%= @admin_user ? link_to(("<span class='#{status_icon(involvement)}' title='#{status_icon(involvement)}'></span> " + involvement.shortest_name + " " + involvement.fest_group&.name.to_s).html_safe,
                                        edit_group_involvement_path(involvement,
                                                                    profile_request: true,
                                                                    participant_profile_id: @participant_id,),
                                        class: "btn btn-default"
              ) : involvement.shortest_name + " " + involvement.fest_group&.name.to_s %>
            </li>
          <% end %>
        <% else %>
          <li>(None)</li>
        <% end %>
      </ul>
    <% end %>
    <%= "</ul>".html_safe if @view_all_fests %>
  </div>
<% end %>