<%= simple_form_for @donation, wrapper: :default, defaults: { wrapper: false } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :person %>
    <%= f.input :value %>
    <%= f.input :channel %>
    <%= f.input :thank_you_sent %>
    <%= f.input :notes %>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, resource: @donation, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
