<%= simple_form_for @donation do |f| %>
  <div class="form-inputs">
    <%= f.simple_fields_for :person do |ff| %>
      <%= render "person_fields", ff: ff, f: f %>
    <% end %>
    <div class="field is-inline-flex">
      <%= f.input :value, as: :float, label: "Amount of donation" %>
      <%= f.input :notes, as: :string, label: "Description" %>
      <%= f.input :channel, as: :select, collection: Donation::CHANNELS,
                  label: "How did #{ @admin_status ? "they" : "you"} hear about us?",
                  hint: "(e.g. campaign, webinar, direct mail)" %>
    </div>
    <% if @admin_status %>
      <%= f.input :thank_you_sent, as: :radio_buttons %>
    <% end %>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, resource: @donation, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
