<fieldset>
  <%= ff.error_notification %>

  <div class="form-inputs">
    <div class="field is-inline-flex">
      <%= ff.hidden_field :id %>
      <% if @admin_status %>
        <%= f.association :person, label: "Donor",
                          hint: "(if #{ @admin_status ? "they" : "you"} already have a profile)" %>
      <% end %>
      <%= ff.input :name, label: "Donor name", required: true, hint: "(can be 'anonymous')" %>
      <%= ff.association :preferred_contact_method, as: :select,
                         collection: @contact_methods, label: "Donor contact method",
                         hint: "(#{ @admin_status ? "their" : "your"} preferred method)" %>
      <%= ff.input :email, label: "Donor email" %>
      <%= ff.input :phone, label: "Donor phone" %>
    </div>
  </div>
</fieldset>
