<%= render "layouts/view_header", resource: @donation %>

<p id="notice"><%= notice %></p>

<div class="section-detail">
  <p>
    <strong>Person:</strong>
    <%= @donation.person&.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= number_to_currency(@donation.value) %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= @donation.channel %>
  </p>

  <p>
    <strong>Thank you sent:</strong>
    <%= yes_no(@donation.thank_you_sent) %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @donation.notes %>
  </p>

  <%= link_to 'Edit', edit_donation_path(@donation) %> |
  <%= link_to 'Back', donations_path %>
</div>
