<%= simple_form_for @submission do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="is-grouped">
      <%= f.association :person %>
      <%= f.association :service_area %>
      <%= f.input :form_name, as: :select, collection: @form_names, selected: f.object.form_name %>
      <%= f.input :privacy_level_requested %>
    </div>
    <hr>
    <%= f.label "Content", class: "label" %>
    <%= JSON.pretty_generate(f.object.body) || "-- Empty --" %>
  </div>

  <%= extra_form_button_1 = show_button(@submission) %>
  <%= render "layouts/view_footer_buttons", f: f, record: @submission, top_divider: true, extra_form_button_1: extra_form_button_1 %>
<% end %>
