<%= simple_form_for @submission do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="is-grouped">
      <%= f.association :person %>
      <%= f.association :service_area %>
    </div>

    <br><br>
    <%= f.input :form_name %>
    <%= f.input :privacy_level_requested %>
    <%= f.input :body, readonly: true %>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, record: @submission, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
