<%= render "layouts/view_header", resource: @submissions.last %>

<div class="section-detail">
  <table class="table table-hover table-curved table-condensed">
    <thead>
      <tr>
        <th>Created at</th>
        <th>Form name</th>
        <th>Service area</th>
        <th>Categories</th>
        <th>Urgency</th>
        <th>Person</th>
        <th>Body</th>
        <th>Autoemail</th>
        <th>Respond</th>
        <th>Match</th>
      </tr>
    </thead>

    <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.created_at.strftime("%A, %B %d, %Y at %l:%M %P") %></td>
        <td><%= submission.form_name %></td>
        <td><%= submission.service_area&.name %></td>
        <td><% submission.category_list.each do |c| %>
              <span class='tag'><%= c %></span>
            <% end %>
        </td>
        <td><%= submission.urgency %></td>
        <td><%= show_button(submission.person, submission.person&.name.to_s + "'s Profile") if submission.person %></td>
        <td><%= show_button(submission) %></td>
        <td><%= show_button(submission.person.communication_logs.last, "View autoemail") if submission.person&.communication_logs&.any? %></td>
        <td>
          <% submission.listings.each do |listing| %>
            <%= link_to("Respond", respond_contribution_path(listing, contribution_type: listing.type)) %>
          <% end %>
        </td>
        <td>
          <% submission.listings.each do |listing| %>
            <% type = listing.type %>
            <% if type == "Ask" %>
              <%= link_to("Match", match_listing_path(listing, receiver_id: listing.id, receiver_type: "Ask")) %>
            <% else %>
              <%= link_to("Match", match_listing_path(listing, provider_id: listing.id, provider_type: "Offer")) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br><br>
<%= link_to "Admin home", landing_page_admin_path %>
