<%= render "layouts/view_header", resource: @submissions.last %>

<div class="section-detail">
  <table class="table table-hover table-curved table-condensed">
    <thead>
      <tr>
        <th>Created at</th>
        <th>Form name</th>
        <th>Service area</th>
        <th>Categories</th>
        <th>Urgency</th>
        <th>Person</th>
        <th>Autoemail</th>
        <th>Respond</th>
        <th>Match</th>
        <th>View</th>
      </tr>
    </thead>

    <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.created_at.strftime("%a, %B %d, %Y at %l:%M %P") %></td>
        <td><%= submission.form_name.classify %></td>
        <td><%= submission.service_area&.name %></td>
        <td><% submission.category_list.each do |c| %>
              <span class='tag'><%= c %></span>
            <% end %>
        </td>
        <td><%= submission.urgency %></td>
        <td><%= show_button(submission.person, submission.person&.name.to_s, "fa fa-user-circle") if submission.person %></td>
        <!-- FIXME: is the logic below correct -->
        <td><%= show_button(submission.person.communication_logs.last, "Autoemail", "fa fa-envelope") if submission.person&.communication_logs&.any? %></td>
        <td>
          <% submission.listings.each do |listing| %>
            <%= link_to("Respond", contribution_path(listing, contribution_type: listing.type), class: "button") %>
          <% end %>
        </td>
        <td>
          <% submission.listings.each do |listing| %>
            <% if listing.ask? %>
              <%= link_to("Match", match_listing_path(listing, receiver_id: listing.id, receiver_type: "Ask"), class: "button") %>
            <% else %>
              <%= link_to("Match", match_listing_path(listing, provider_id: listing.id, provider_type: "Offer"), class: "button") %>
            <% end %>
          <% end %>
        </td>
        <td><%= show_button(submission, "") %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br><br>
<%= link_to "Admin home", admin_dashboard_path %>
