<%= render "layouts/view_header", resource: @submission %>
<style>
  pre {
    display: flex;
    white-space: normal;
    word-break: break-word;
    width: 50em;
  }
</style>
<p>
  <strong>Person:</strong>
  <%= show_button(@submission.person, @submission.person.name, "fa fa-user-circle") %>
</p>

<p>
  <strong>Service area:</strong>
  <%= @submission.service_area&.name %>
</p>

<p>
  <strong>Form name:</strong>
  <%= @submission.form_name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @submission.created_at %>
</p>
<hr>
<div>
  <span class="label">Submission Responses:</span>
  <% @submission.submission_responses.each do |response| %>
    <span class="label"><%= response.custom_form_question.name %></span>
    <div class="field is-grouped">
      <span class="input"><%= response.name %></span>
      <%= edit_button(response) if current_user.sys_admin_role? %>
    </div>
  <% end %>
</div>
<hr>
<div>
  <span class="label">Currently connected Listings <span class="tag"><%= @submission.listings.length %></span>:</span>
  <% @submission.listings.each do |listing| %>
    <%= show_button(listing, "View " + listing.name, listing.icon_class) %>
    <br>
  <% end %>
  <%= link_to "Add Offer", new_listing_path(submission_id: @submission.id, person_id: @submission.person_id,
                                            service_area_id: @submission.service_area_id,
                                            location_id: @submission.person.location_id,
                                            type: "Offer") %>
  <%= link_to "Add Ask", new_listing_path(submission_id: @submission.id, person_id: @submission.person_id,
                                          service_area_id: @submission.service_area_id,
                                          location_id: @submission.person.location_id,
                                          type: "Ask") %>
</div>
<hr>
<div>
  <strong>Listings snapshot</strong> when created (<%= @submission.created_at %>):
  <pre>
    <ul>
      <% @submission.body.delete('\\"').split(", ").each do |param| %>
        <li>
          <% value = nil %>
          <% param.gsub("=>", ": ").split(": ").each_with_index do |param_part, idx| %>
            <%# value = idx.even? && param_part.include?("_id") ? @submission.public_send(param_part.to_s.gsub("_id"))&.name : param_part %>
            <% if idx == 0 %>
              <span class="label"><%= param_part.titleize %></span>
            <% else %>
              <span class="<%= 'label' if idx == 0 %>"><%= value || param_part %></span>
            <% end %>
          <% end %>
        </li>
        <br>
      <% end if @submission.body %>
    </ul>
  </pre>
</div>

<hr>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>

