<%= render "layouts/view_header", resource: @submission %>

<p>
  <strong>Person:</strong>
  <%= @submission.person&.name %>
</p>

<p>
  <strong>Service area:</strong>
  <%= @submission.service_area&.name %>
</p>

<p>
  <strong>Form name:</strong>
  <%= @submission.form_name %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @submission.created_at %>
</p>


<p>
  <strong>Body:</strong>
  <%= @submission.body&.html_safe %>
</p>

<hr>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
