<%= render "layouts/view_header", resource: @mobility_string_translation %>

<p>
  <strong>Translatable type:</strong>
  <%= @mobility_string_translation.translatable_type %>
</p>

<p>
  <strong>Translatable:</strong>
  <%= @mobility_string_translation.translatable.name %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @mobility_string_translation.locale %>
</p>

<p>
  <strong>Key:</strong>
  <%= @mobility_string_translation.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @mobility_string_translation.value %>
</p>

<p>
  <strong>Submitted by:</strong>
  <%= @mobility_string_translation.created_by&.name %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @mobility_string_translation.approved %>
</p>

<%= link_to 'Edit', edit_mobility_string_translation_path(@mobility_string_translation) %> |
<%= link_to 'Back', mobility_string_translations_path %>
