<%= render "layouts/view_header", resource: @form_question %>

<p>
  <strong>Form:</strong>
  <%= @form_question.form.name %>
</p>

<p>
  <strong>Custom form question:</strong>
  <%= @form_question.custom_form_question.name %>
</p>

<%= edit_button(@form_question) %>
<%= link_to 'Back', form_questions_path %>
