<section>
  <%= content_tag(:h1, "Claim This #{contribution.type}", class: "title") %>
  <div class="box">
    <p class="mb-2">
      Information you enter here will be delivered directly to the other party.
      Remember to protect yourself and never provide sensitive personal info to
      strangers.
    </p>
        
    <%= simple_form_for :peer_to_peer_match, url: claim_contribution_contribution_path(contribution) do |f| %>
      <%= f.input :peer_alias, as: :string, label: false, placeholder: "Alias or handle (do not use your real name here)" %>
      <%= f.input :preferred_contact_method, collection: ContactMethod.pluck(:name, :id), label: "Contact Method" %>
      <%= f.input :message, as: :text, placeholder: "Add some introductory text here. We do not share your contact information
                                                     with the other party. Please only share information that you are comfortable
                                                    sharing to facilitate this conversation.".squish %>
      <%= f.button :submit, "I understand, let's go!", class: "is-primary" %>
    <% end %>
  </div>
  <%= link_to "<i class=\"fas fa-arrow-left\"></i> Nevermind, I'm not ready".html_safe, :back %>
</section>
