<div class="title"><%= @contribution.name %></div>

This page is TBD, depending on how we define P2P workflows.
<hr>
<%= link_to("Add Communication Log", new_communication_log_path(person: @contribution.person)) %>
<br>
<% if @contribution.type == "Ask" %>
  <%= link_to("Find Match [TBD]",
              match_listing_path(@contribution, receiver_id: @contribution.id, receiver_type: "Ask"),
              class: "button") %>
  <br>
  <%= link_to("Create Match",
              new_match_path(receiver_id: @contribution.id, receiver_type: "Ask"),
              class: "button") %>
<% elsif @contribution.type == "Offer" %>
  <%= link_to("Find Match [TBD]",
              match_listing_path(@contribution, provider_id: @contribution.id, provider_type: "Offer"),
              class: "button") %>
  <br>
  <%= link_to("Create Match",
              new_match_path(provider_id: @contribution.id, provider_type: "Offer"),
              class: "button") %>
<% end %>
