<h1 class="title">Respond to:</h1>

<div class="subtitle is-5 has-text-weight-bold">
  <%= show_button(@contribution, @contribution.name, @contribution.icon_class) %>
  <%= show_button(@contribution.person, "", "fa fa-user-circle") %>
</div>
[This page is TBD, depending on how we define P2P workflows.]
<hr>
Current matches:
<br>
<% if @contribution.matches_as_receiver.any? %>
  <% @contribution.matches_as_receiver.each do |match| %>
    <%= show_button(match, match.name) %>
  <% end %>
<% end %>
<% if @contribution.matches_as_provider.any? %>
  <% @contribution.matches_as_provider.each do |match| %>
    <%= show_button(match, match.name) %>
  <% end %>
<% end %>
<hr>
<% if @contribution.type == "Ask" %>
  <%= link_to("Find Match [TBD]",
              match_listing_path(@contribution, receiver_id: @contribution.id, receiver_type: "Ask"),
              class: "button") %>
  <%= render "layouts/view_add_new_button", table_name: "matches", new_params: "receiver_id=#{@contribution.id}&receiver_type=Ask" %>
<% elsif @contribution.type == "Offer" %>
  <%= link_to("Find Match [TBD]",
              match_listing_path(@contribution, provider_id: @contribution.id, provider_type: "Offer"),
              class: "button") %>
  <%= render "layouts/view_add_new_button", table_name: "matches", new_params: "provider_id=#{@contribution.id}&provider_type=Offer" %>
<% end %>
<hr>
<%= render "layouts/view_add_new_button", table_name: "communication_logs", new_params: "person_id=#{@contribution.person_id}" %>
<hr>
