<% person = @contribution.person %>

<div class="title is-5">Respond to contribution:    <%= link_to "go to Contributions page", contributions_public_path %></div>

<div class="contribution">
  <div class="summary">
      <span class="title is-1"><span class="<%= @contribution.icon_class %>"></span> <%= @contribution&.type %>: <%= @contribution&.all_tags_to_s&.upcase %>
        </span> <%#= edit_button(@contribution, "Edit") %><!-- # TODO - add update action back in once we have moved controllers-->
  </div>
  <%= "<br>".html_safe if @contribution.title.present? || @contribution.description.present? %>
  <div class="subtitle is-5"><%= @contribution.title %></div>
  <div class="description"><%= @contribution.description %></div>
</div>

<div class="columns">
  <div class="column">
    <hr>
    <div class="contact-info">
      <strong>Created by:</strong>
      <br>
      <%= show_button(person, person&.name, "fa fa-user-circle", "title is-5", nil, contribution_id: @contribution.id) %>
      <br>
      <strong>Preferred contact info:</strong>
      <br>
      <span class="<%= person.preferred_contact_method.icon_class %>"></span>
      <span class="subtitle is-5"><%= person.preferred_contact_info %></span>
    </div>
    <hr>
    <% if @contribution.ask? %>
      <%= link_to("Find Match [TBD]",
                  match_listing_path(@contribution, receiver_id: @contribution.id, receiver_type: "Ask"),
                  class: "button") %>
      <%= render "layouts/view_add_new_button", button_text: "Add tentative Match", table_name: "matches", new_params: "receiver_id=#{@contribution.id}&receiver_type=Ask" %>
    <% elsif @contribution.offer? %>
      <%= link_to("Find Match [TBD]",
                  match_listing_path(@contribution, provider_id: @contribution.id, provider_type: "Offer"),
                  class: "button") %>
      <%= render "layouts/view_add_new_button", button_text: "Add tentative Match", table_name: "matches", new_params: "provider_id=#{@contribution.id}&provider_type=Offer" %>
    <% end %>
    <hr>
    <strong><%= "#{person.name}'s " %> all-time Match totals:</strong>
    <br>
    <span><%= person.match_history %></span>
    <hr>
    <strong>Match history **for this <%= @contribution.type %> (<%= @contribution.all_tags_to_s.upcase %>)**:</strong>
    <br>
    <% match_assn_name = @contribution.ask? ? "matches_as_receiver" : "matches_as_provider" %>
    <% matches_for_this_contribution = @contribution.public_send(match_assn_name) %>
    <% if matches_for_this_contribution.any? %>
      <% matches_for_this_contribution.order(created_at: :desc).each do |match| %>
        <%= edit_button(match, "(#{shorthand_display(match.created_at)}) #{match.short_name}") %>
        <br>
      <% end %>
    <% else %>
      (No matches)
    <% end %>

    <% Contribution::TYPES.each do |type| %>
      <% contribution_assn = type.to_s.pluralize.downcase %>
      <hr>
      <strong><%= "#{person.name}'s " %> other unmatched <%= contribution_assn %>:</strong>
      <br>
      <% if @contribution.person.public_send(contribution_assn).unmatched.
          where.not("listings.id = ?", @contribution.id).any? %>
            <% @contribution.person.public_send(contribution_assn).unmatched.
                where.not("listings.id = ?", @contribution.id).
                order(:created_at).each do |contribution| %>
                  <%= link_to("(#{shorthand_display(contribution.created_at)}) #{contribution.all_tags_to_s.upcase}",
                              respond_contribution_path(contribution,
                                                        contribution_type: type), class: "button") %>
          <br>
        <% end %>
      <% end %>
     <%= "<br>".html_safe if contribution_assn == Contribution::TYPES.last %>
    <% end %>

    <hr>

    <strong><%= "#{person.name}'s " %> Match history:</strong>
    <br>
    <% no_matches_comments = [] %>
    <% @contribution.person.listings.where.not(id: @contribution).order(:type).each do |listing| %>
      <% match_assn_name = listing.ask? ? "matches_as_receiver" : "matches_as_provider" %>
      <% other_matches = listing.public_send(match_assn_name) %>
        <% if other_matches.any? %>
          <% listing.public_send(match_assn_name).order(created_at: :desc).each do |match| %>
            <%= edit_button(match, "(#{shorthand_display(match.created_at)}) #{match.short_name}") %>
            <br>
          <% end %>
        <% no_matches_comments << "has_matches" %>
        <% else %>
          <% no_matches_comments << "(No other matches)" %>
        <% end %>
    <% end %>
    <%= no_matches_comments.uniq.join if no_matches_comments.uniq.length == 1 %>
  </div>
  <div class="column">
    <hr>
    <%= render "matches/communication_log_quick_buttons", person: person %>
    <hr>
    <%= render "matches/communication_history", person: person %>
  </div>
</div>
