<div class="title is-3">
  <%= @current_organization&.name %>
</div>

<div class="header">
  <%= HtmlSanitizer.new(@system_setting.confirmation_page_text_header).sanitize_for_rails %>
</div>

<hr>

<div class="body">
  <!-- # TODO extract this text to exchange_type model data -->
  <% if @system_setting.exchange_type == "peer_to_peer" %>
    Check out our <%= link_to "contributions page", contributions_path %> to see Asks, Offers, and Community Resources.
  <% elsif @system_setting.exchange_type == "fully_moderated" %>
    <%= @system_setting.confirmation_page_text_body&.html_safe %><!-- # TODO change system text handling so each exchange_type has text -->
  <% else %>
    We'll assist as best we can!
  <% end %>
  <hr>
</div>

<div class="links">
  <div class="links-header">
    <%= @system_setting.confirmation_page_text_link_header&.html_safe if @system_setting.community_resources_module? || @system_setting.announcements_module? %>
  </div>

  <div class="community-resources-link">
    <%= link_to "Community Resources", community_resources_public_path if @system_setting.community_resources_module? %>
  </div>

  <div class="announcements-link">
    <%= link_to "Announcements", announcements_public_path if @system_setting.announcements_module? %>
  </div>
</div>

<div class="footer">
  <%= HtmlSanitizer.new(@system_setting.confirmation_page_text_footer).sanitize_for_rails %>
</div>

