<div class="columns text-center login-screen" style="vertical-align:middle;">
  <div class="column is-half logo-image text-center">
    <%= render 'shared/organization_logo' %>
  </div>
  <div class="column is-half text-center">
    <div class="section">
      <% if current_user %>
        <h2>You are already logged in</h2>
        <% if @admin_status %>
          <%= link_to("<span class='fa fa-menu'></span><span class='has-text-black text-bold'> Go back to admin</span>".html_safe,
                      admin_path,
                      class: "button",
                      title: "Logout") %>
        <% end %>
      <% else %>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-inputs">
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <%= f.input_field :email,
                            required: true,
                            :class => "input"%>
              </div>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <%= f.input_field :password,
                            required: true,
                            email_field: true,
                            autofocus: true,
                            :class => "input",
                            :type => "password"%>
              </div>
            </div>
            <div class="" id="login_button">
              <%= f.button :submit, "Log in", class: "button is-primary" %>
            </div>
          </div>
        <% end %>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
