<%= simple_form_for @shift_match do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :shift %>
    <%= f.association :match %>
    <%= f.input :notes %>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, record: @shift_match, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
