<%= simple_form_for @shift_match do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="is-grouped">
      <%= f.association :shift, include_blank: true, collections: @shifts, selected: f.object.shift_id || @shift_id %>
      <%= f.association :match, selected: f.object.match_id || params[:match_id] %>
    </div>
    <%= f.input :notes, hint: "(notes specific to this match AND this shift)" %>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, record: @shift_match, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
