<%= render "layouts/view_header", resource: @shift_matches.first %>

<table class="table table-hover table-curved table-condensed">
  <thead>
    <tr>
      <th>Shift</th>
      <th>Match</th>
      <th>Notes</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @shift_matches.each do |shift_match| %>
      <tr>
        <td><%= shift_match.shift&.name %></td>
        <td><%= shift_match.match&.name %></td>
        <td><%= shift_match.notes %></td>
        <td><%= edit_button(shift_match) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
