<%= simple_form_for @match do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @receiver.present? %>
      <div>for: </div><span class="title"><%= @receiver.name %></span></div>
      <hr>
      <%= f.hidden_field :receiver_id, value: @receiver.id %>
      <%= f.hidden_field :receiver_type, value: @receiver.type %>
    <% elsif params[:admin] %>
      <div class="field is-grouped">
        <%= f.input :receiver_type, as: :select,
                    collection: [["Listing", "Listing"],["Profile", "Person"],["Community Resource", "CommunityResource"]],
                    selected: f.object.receiver_type || params[:receiver_type] %>
        <%= f.input :receiver_id, label: "Receiver ID", input_html: { value: f.object.receiver_id || params[:receiver_id] } %>
      </div>
    <% else %>
      <%= f.input :receiver_id, as: :select, collection: Ask.unmatched %>
      <%= f.hidden_field :receiver_type, value: "Ask" %>
    <% end %>

    <% if @provider.present? %>
      <div>for: </div><span class="title"><%= @provider.name %></span></div>
      <hr>
      <%= f.hidden_field :provider_id, value: @provider.id %>
      <%= f.hidden_field :provider_type, value: @provider.type %>
    <% elsif params[:admin] %>
      <div class="field is-grouped">
        <%= f.input :provider_type, as: :select,
                    collection: [["Listing", "Listing"],["Profile", "Person"],["Community Resource", "CommunityResource"]],
                    selected: f.object.provider_type || params[:provider_type] %>
        <%= f.input :provider_id, label: "Provider ID", selected: f.object.provider_id || params[:provider_id] %>
      </div>
    <% else %>
      <%= f.input :provider_id, as: :select, collection: Offer.unmatched %>
      <%= f.hidden_field :provider_type, value: "Offer" %>
    <% end %>


    <div class="field is-grouped">
      <%= f.input :notes, as: :text, input_html: { rows: 1, style: "width: 100%" } %>
    </div>
    <div class="field is-grouped">
      <%= f.input :tentative, as: :radio_buttons %>
      <%= f.input :completed, as: :radio_buttons %>
      <% if @match.id.present? %>
        <%= f.input :status, readonly: true %>
      <% end %>
    </div>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, resource: @match, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
