<%= simple_form_for @match do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :receiver_type, as: :select, collection: [["Listing", "Listing"],["Profile", "Person"],["Community Resource", "ExternalResource"]] %>
    <%= f.input :receiver_id %>

    <%= f.input :provider_type, as: :select, collection: [["Listing", "Listing"],["Profile", "Person"],["Community Resource", "ExternalResource"]] %>
    <%= f.input :provider_id %>

    <%= f.input :status %>
    <%= f.input :notes %>
    <%= f.input :tentative %>
    <%= f.input :completed %>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, resource: @match, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
