<%= render "layouts/view_header", resource: @matches.first %>

<%= render "search_boxes" %>

<br><hr><br>

<table class="table table-hover table-curved table-condensed">
  <thead>
    <tr>
      <th>Created</th>
      <th>Updated</th>
      <th>Receiver</th>
      <th>Provider</th>
      <th>Status</th>
      <th>Last communicated</th>
      <th>Needs followup?</th>
      <th>Match Notes</th>
      <th>Exchange(d)</th>
      <th>Connect to dispatcher</th>
      <th>Edit Match</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= shorthand_display(match.created_at) %></td>
        <td><%= shorthand_display(match.updated_at) %></td>
        <td>
          <% match.receiver&.all_tags_unique&.each do |tag_name| %>
            <span class="tag is-info is-light has-text-weight-bold"><%= tag_name.upcase %></span>
          <% end %>
          <br>
          <%= match.receiver&.person&.name %></td>
        <td>
          <% match.provider&.all_tags_unique&.each do |tag_name| %>
            <span class="tag is-info is-light has-text-weight-bold"><%= tag_name.upcase %></span>
          <% end %>
          <br>
          <%= match.provider&.person&.name %></td>
        <td><%= match.status.titleize %></td>
        <td>
          <% log = match.communication_logs.last %>
          <%= link_to shorthand_display(log.created_at), edit_communication_log_path(log), title: "#{log.subject }#{": " + log.body if log&.body }" if log %>
        </td>
        <td><span class="<%= "fa fa-exclamation-circle has-text-warning" if match.needs_follow_up? %>" title="<%= match.communication_logs.needs_follow_up.map{ |log| "#{log.subject }#{": " + log.body if log&.body }" } %>"></span></td>
        <td><span class="<%= "fa fa-sticky-note" if match.notes.present? %>" title="<%= match.notes %>"></span></td></td>
        <td><%= shorthand_display(match.exchanged_at) if match.exchanged_at.present? %></td>
        <td>
          <% match.shift_matches.order(created_at: :desc).each do |shift_match| %>
            <%= link_to("#{shorthand_display(shift_match.created_at)} (#{shift_match.shift.person.name})", edit_shift_match_path(shift_match)) %>
            <br>
          <% end %>
          <%= render "layouts/view_add_new_button", button_color_class: "is-primary is-outlined", hide_text: true, table_name: "shift_matches", new_params: "match_id=#{match.id}&person_id=#{current_user.person&.id}" %>
        </td>
        <td><%= edit_button(match) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
