<div class="view-header">
  <div class="title is-1">
    Create a Tentative Match
  </div>

  <div class="section-detail">
    <%= simple_form_for @match do |f| %>
      <%= f.error_notification %>

      <%= f.hidden_field :status, value: params[:status] || "matched_tentatively" %>

      <%= render "recipient_and_provider", f: f %>

      <% save_and_show_button = f.submit "Save and View Match", class: "button mt-1 is-primary" %>
      <%= render "layouts/view_footer_buttons", f: f, resource: @match, top_divider: true, extra_form_button_1: nil, button_class: "is-primary is-outlined", extra_form_button_2: save_and_show_button %>
    <% end %>

    </div>
</div>

