<%= render "layouts/view_header", resource: @match %>

<div class="section-detail">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Offerer:</strong>
    <%= @match.matchable_offerer&.name %>
  </p>

  <p>
    <strong>Asker:</strong>
    <%= @match.matchable_asker&.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @match.status %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @match.notes %>
  </p>

  <p>
    <strong>Tentative:</strong>
    <%= @match.tentative %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= @match.completed %>
  </p>

  <%= link_to 'Edit', edit_match_path(@match) %> |
  <%= link_to 'Back', matches_path %>
</div>
