<%= render "layouts/view_header", page_title: "Yearbook", resource: @positions.first, coalesced_controller_name: "Position" %>

<div class="grapevine-container">
  <div class="grapevine-search mb-4">
    <%#= render 'search_boxes_yearbook' %>

    <%#= render partial: "layouts/search_results_summary" %>

    <div class="col-md-12">
      (click on a name or photo to view profile)
    </div>

    <div class="col-md-12 text-center">
      <br><br><br><br>
      <%#= will_paginate id: true, renderer: BootstrapPagination::Rails %>
    </div>

    <br><br>
    <div class="col-md-12">
      <% if @positions.blank? %>
        <h4>No profiles that matched your search of:</h4>
        <ul>
          <li><strong>Name or email:</strong> <%= params[:person_info].present? ? params[:person_info] : "---" %></li>
          <li><strong>Year:</strong> <%= params[:yearbook_year].present? ? params[:yearbook_year] : "---" %></li>
          <li><strong><%= Position.model_name.human %> name:</strong> <%= params[:position_type_name].present? ? params[:position_type_name] : "---" %></li>
          <li><strong>Permission level:</strong> <%= params[:permission_level].present? ? params[:permission_level] : "---" %></li>
        </ul>
      <% else %>
        <%= render partial: "positions/yearbook" %>
      <% end %>
    </div>
  </div>
</div>

<style>
  .flex-item-profile {
    background: #eeeeee;
    padding: 5px;
    width: 300px;
    height: 300px;
    margin-top: 15px;
    /*line-height: 150px;*/
    color: white;
    font-weight: bold;
    text-align: center;
    /*display: inline-flex;*/
    display: inline-table;
    flex-flow: wrap;
    flex-wrap: wrap;
    border: 1px solid black;
  }
</style>
