<%= simple_form_for @software_feedback do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :created_by %>
    <%= f.input :feedback_type %>
    <%= f.input :module_name %>
    <%= f.input :page_url %>
    <%= f.input :name %>
    <%= f.input :urgency %>
    <%= f.input :urgency_order %>
    <%= f.input :notes %>
    <%= f.input :completed %>
    <%= f.input :completed_at %>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, record: @software_feedback, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
