<%= simple_form_for @software_feedback do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="field is-grouped columns">
      <div class="column is-6">
        <%= f.input :name, label: "Topic/name", as: :text, input_html: { rows: 1 } %>
      </div>
      <div class="column is-6">
        <%= f.input :page_url, as: :text, hint: "(e.g. https://www.google.com)", input_html: { rows: 1, value: f.object.page_url || params[:page_url] } %>
      </div>
    </div>
    <div class="field is-grouped">
      <%= f.input :feedback_type, as: :select, collection: @feedback_types, selected: "change" %>
      <%= f.input :module_name, as: :select, collection: @module_name, selected: "contributions page" %>
      <%= f.input :urgency, as: :select, collection: @urgencies, selected: "anytime" %>
      <%= f.input :urgency_order, as: :integer,
                  hint: "(defaults to 10)",
                  input_html: { value: f.object.urgency_order || 10 } %>
    </div>
    <%= f.input :notes, as: :text, input_html: { rows: 2 } %>
    <div class="field is-grouped">
      <%= f.input :completed, as: :radio_buttons if @software_feedback.id.present? %>
      <%= f.hidden_field :created_by_id, value: current_user&.id %>
    </div>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, record: @software_feedback, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
