<%= render "layouts/view_header", resource: @software_feedbacks.last %>

<table class="table table-hover table-curved table-condensed">
  <thead>
  <tr>
          <th>Created by</th>
          <th>Feedback type</th>
          <th>Module name</th>
          <th>Page url</th>
          <th>Name</th>
          <th>Urgency</th>
          <th>Urgency order</th>
          <th>Notes</th>
          <th>Completed</th>
          <th>Completed at</th>
        <th>Edit</th>
  </tr>
  </thead>

  <tbody>
  <% @software_feedbacks.each do |software_feedback| %>
    <tr>
              <td><%= software_feedback.created_by_id %></td>
              <td><%= software_feedback.feedback_type %></td>
              <td><%= software_feedback.module_name %></td>
              <td><%= software_feedback.page_url %></td>
              <td><%= software_feedback.name %></td>
              <td><%= software_feedback.urgency %></td>
              <td><%= software_feedback.urgency_order %></td>
              <td><%= software_feedback.notes %></td>
              <td><%= software_feedback.completed %></td>
              <td><%= software_feedback.completed_at %></td>
            <td><%= link_to 'Edit', edit_software_feedback_path(software_feedback) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
