<div class="columns is-marginless">
  <div class="column is-9">
    <h1 class="title">System Locations</h1>
    <br>
  </div>
  <div class="column is-2">
    <%= render "layouts/add_new_button", table_name: "system_locations" %>
  </div>
</div>

<table class="table table-hover table-curved table-condensed">
  <thead>
    <tr>
      <th>Parent</th>
      <th>Organization</th>
      <th>Location type</th>
      <th>Street address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>County</th>
      <th>Region</th>
      <th>Neighborhood</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
  <% @system_locations.each do |system_location| %>
    <tr>
      <td><%= system_location.parent&.name %></td>
      <td><%= system_location.organization&.name %></td>
      <td><%= system_location.location_type %></td>
      <td><%= system_location.street_address %></td>
      <td><%= system_location.city %></td>
      <td><%= system_location.state %></td>
      <td><%= system_location.zip %></td>
      <td><%= system_location.county %></td>
      <td><%= system_location.region %></td>
      <td><%= system_location.neighborhood %></td>
      <td><%= link_to 'Edit', edit_system_location_path(system_location) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
