<%= render "layouts/view_header", resource: @system_location %>

<div class="section-detail">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Parent:</strong>
    <%= @system_location.parent_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= @system_location.organization_id %>
  </p>

  <p>
    <strong>Location type:</strong>
    <%= @system_location.location_type %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= @system_location.street_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @system_location.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @system_location.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= @system_location.zip %>
  </p>

  <p>
    <strong>County:</strong>
    <%= @system_location.county %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= @system_location.region %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= @system_location.neighborhood %>
  </p>

  <%= link_to 'Edit', edit_system_location_path(@system_location) %> |
  <%= link_to 'Back', system_locations_path %>
</div>
