<%= simple_form_for @organization, wrapper: :default, defaults: { wrapper: false } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :facebook_url %>
    <%= f.input :website_url %>
    <%= f.input :phone %>
    <%= f.association :point_of_contact %>
    <%= f.input :is_instance_owner %>
    <%= f.input :has_sms_account %>
    <%= f.input :has_hosting_account %>
    <%= f.input :has_mailer_account %>
  </div>

  <%= render "layouts/view_template_form_buttons", f: f, record: @organization, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
