<%= render "layouts/view_header", resource: @root_categories.first %>

<div class="index">
  <div class="columns is-marginless">
    <div class="column">
      <table class="table table-hover table-curved table-condensed">
        <thead>
        <tr>
          <th>Name</th>
          <th>Parent category</th>
          <th>Description</th>
          <th>Is created by admin</th>
          <th>Display to public</th>
          <th>Display order</th>
          <th>Edit</th>
        </tr>
        </thead>

        <tbody>
          <% @root_categories.each do |root_category| %>
            <tr>
              <td><%= root_category.name %></td>
              <td><%= root_category.parent&.name %></td>
              <td><%= root_category.description %></td>
              <td><%= yes_no(root_category.is_created_by_admin) %></td>
              <td><%= yes_no(root_category.display_to_public) %></td>
              <td><%= root_category.display_order %></td>
              <td><%= edit_button(root_category) %></td>
            </tr>
            <% root_category.categories.each do |category| %>
              <tr class="has-background-white-ter has-text-grey">
                <td><%= category.name %></td>
                <td><%= category.parent&.name %></td>
                <td><%= category.description %></td>
                <td><%= yes_no(category.is_created_by_admin) %></td>
                <td><%= yes_no(category.display_to_public) %></td>
                <td><%= category.display_order %></td>
                <td><%= edit_button(category) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>