<%= render "layouts/view_header", resource: @category %>

<div class="section-detail">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @category.description %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= @category.parent&.name %>
  </p>

  <p>
    <strong>Display to public:</strong>
    <%= @category.display_to_public %>
  </p>

  <p>
    <strong>Display order:</strong>
    <%= @category.display_order %>
  </p>

  <p>
    <strong>Is created by admin:</strong>
    <%= @category.is_created_by_admin %>
  </p>

  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
</div>
