<%= simple_form_for(external_resource) do |form| %>
  <% if external_resource.errors.any? %>
    <div id="error_explanation">
      <h2 class="subtitle"><%= pluralize(external_resource.errors.count, "error") %> prohibited this external_resource from being saved:</h2>

      <ul>
        <% external_resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="field is-grouped">
      <div class="control is-expanded">
        <div class="label">Name</div>
          <%= form.input_field :name, :class=>"input is-inline-block"%>
        </div>
      <div class="control">
        <div class="label">Display on website?</div>
        <%= form.input_field :display_on_website %>
      </div>
    </div>

    <div class="field">
      <div class="label">Tags</div>
      <div class="control">
        <%= form.input_field :tags, :class=>"input"%>
      </div>
    </div>
  </div>

  <div class="form-inputs">
    <div class="field">
      <div class="label">Website URL</div>
      <div class="control">
        <%= form.input_field :website_url, :class=>"input" %>
      </div>
    </div>

    <div class="field">
      <div class="label">Facebook URL</div>
      <div class="control">
        <%= form.input_field :facebook_url, :class=>"input" %>
      </div>
    </div>

    <div class="field">
      <div class="label">Youtube URL</div>
      <div class="control">
        <%= form.input_field :youtube_identifier, :class=>"input" %>
      </div>
    </div>
  </div>

  <div class="form-inputs">
    <div class="field">
      <div class="label">Phone</div>
      <div class="control">
        <%= form.input_field :phone, :class=>"input" %>
      </div>
    </div>

    <div class="field">
      <div class="label">Location</div>
      <div class="control">
        <%= form.input_field :location_id, :class=>"input" %>
      </div>
    </div>
  </div>

  <div class="form-inputs">
    <div class="field">
      <div class="label">Description</div>
      <div class="control">
        <%= form.input_field :description, :class=>"input" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= form.submit :class=>"button mt-1 is-info"%>
  </div>
<% end %>
