<%= simple_form_for @external_resource, wrapper: :default, defaults: { wrapper: false } do |form| %>
  <% if external_resource.errors.any? %>
    <div id="error_explanation">
      <h2 class="subtitle"><%= pluralize(external_resource.errors.count, "error") %> prohibited this external_resource from being saved:</h2>

      <ul>
        <% external_resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= form.input :name, required: true, label: "Resource/organization name" %>
    <%= form.input :description, required: true, as: :text, input_html: { rows: 2 } %>

    <% if ["new", "create"].include?(action_name) %>
      <%= form.hidden_field :reviewed %>
    <% else %>
      <%= form.input :reviewed %>
    <% end %>

    <div class="label">Display on website?</div>
    <div class="field is-grouped">
      <div class="field">
        <%= form.input :display_on_website_start, as: :date, include_blank: true %>
      </div>
      <div class="field">
        <%= form.input :display_on_website_end, as: :date, include_blank: true %>
      </div>
    </div>

    <%= form.input :tags %>

    <div class="label is-expanded">Links</div>
    <div class="field is-grouped">
      <%= form.input :facebook_url, placeholder: "https://www.google.com" %>
      <%= form.input :website_url, placeholder: "https://www.google.com" %>
      <%= form.input :facebook_url, placeholder: "https://www.google.com" %>
      <%= form.input :youtube_identifier %>
    </div>

    <%= form.input :phone %>
    <%= form.association :location, label: "City/neighborhood", label_method: "address" %>
  </div>

  <div class="form-actions">
    <%= form.submit :class=>"button mt-1 is-info"%>
  </div>
<% end %>
