<div class="columns is-marginless">
  <div class="column is-9">
    <h1 class="title">Community Resources</h1>
    <br>
  </div>
  <div class="column is-2">
    <%= render "layouts/view_add_new_button", table_name: "community_resources" %>
  </div>
</div>

<div class="row">
  <table class="table table-hover table-curved table-condensed">
    <tbody>
      <% @community_resources.each do |community_resource| %>
        <tr>
          <td>
            <strong><%= community_resource.name %></strong>
            <br>
            <%= " | " + community_resource.all_tags_to_s + " | " if community_resource.all_tags_list.any? %>
            <em><%= community_resource.description&.truncate(100) %> <%= link_to("More", community_resource_path(community_resource)) if community_resource.description&.length.to_i > 100 %></em>
            <br>
            <%= link_to("<span class='fa fa-globe button'></span><span></span>".html_safe,
                        community_resource.website_url,
                        title: "Go to #{community_resource.website_url}",
                        class: "button") if community_resource.website_url.present? %>
            <%= link_to("<span class='fa fa-facebook button'></span><span></span>".html_safe,
                        community_resource.facebook_url,
                        title: "Go to #{community_resource.facebook_url}",
                        class: "button") if community_resource.facebook_url.present? %>
            <br>
            <br>
            <br>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
