<%= simple_form_for @location do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :locationable_type %>
    <%= f.input :locationable_id %>
    <%#= f.input :location_type %><!-- TODO - decide if we still want this field-->
    <%= f.input :street_address %>
    <%= f.input :city %>
    <%= f.input :state, input_html: { maxlength: 2, size: 2, style: "width: 25%;" }, hint: "(e.g. TN, MI, NY)" %>
    <%= f.input :zip, input_html: { maxlength: 2, size: 2 }, hint: "(e.g. 12345)" %>
    <%= f.input :county %>
    <%= f.input :region %>
    <%= f.input :neighborhood %>
  </div>

  <%= render "layouts/view_footer_buttons", f: f, resource: @location, top_divider: true, extra_form_button_1: nil, extra_form_button_2: nil %>
<% end %>
