<%= simple_form_for :locations,
                    html: { class: 'is-horizontal'},
                    url: locations_path,
                    method: :get do |f| %>

  <%= hidden_field_tag :sort, value=(params[:sort] || "id") %>
  <%= hidden_field_tag :direction, value=(params[:direction] == "asc" ? "desc": "desc") %>
  <%= hidden_field_tag :table, value=(params[:table] || params[:controller]) %>

  <div class="has-text-left label">Search:</div>
  <div id="search-boxes" class="has-text-left search-boxes">
    <div class="">
      <div class="is-grouped is-inline-flex">
        <%= select_tag :location_type_name,
                       options_for_select(@location_type_names || [], selected: params[:location_type_name]),
                       include_blank: "-- Location type --",
                       class: 'input select optional' %>
        <%= text_field_tag :street_address,
                           params[:street_address],
                           placeholder: "Street address" %>
        <%= text_field_tag :city,
                           params[:city],
                           placeholder: "City" %>
        <%= select_tag :service_area_name,
                       options_for_select(@service_area_names || [], selected: params[:service_area_name]),
                       include_blank: "-- Service area --",
                       class: 'input select optional' %>
        <%= select_tag :person_id,
                       options_for_select(@people || [], selected: params[:person_id]),
                       include_blank: "-- Created by --",
                       class: 'input select optional' %>
        <%= f.button :submit, "Search", class: "form-group button is-primary", name: nil %>
        <%= clear_search_button %>
      </div>
    </div>
  </div>
<% end %>