<%# needs f for submit button %>

<% klass_name = f.object.class.model_name.human.titleize.pluralize %>
<% top_divider ||= true %>
<% button_class ||= 'is-primary' %>

<% extra_form_button_1 ||= nil %>
<% extra_form_button_2 ||= nil %>

<% submit_button_prefix ||= (["new","create"].include?(action_name) ? "Create and " : "Update and ") %>
<% submit_button_name = submit_button_name || "view all #{klass_name}" %>

<% cancel_button ||= link_to("Cancel", "/" + controller_name,
                             class: "button mt-1 is-outlined") %>

<% delete_button ||= link_to("Delete",
                             polymorphic_url(f.object),
                             method: :delete,
                             confirm: "Are you sure you want to delete this record?",
                             class: "button mt-1 is-danger is-outlined") if f.object.id.present? %>

<div class="form-actions">
  <% "<hr>".html_safe if top_divider %>
  <%= extra_form_button_1 %>
  <%= delete_button %>
  <%= cancel_button %>
  <%= f.button :submit,
               "#{submit_button_prefix.to_s +
                  submit_button_name.to_s}",
               class: "button mt-1 #{button_class}" %>
  <%= extra_form_button_2 %>
  <br><hr>
</div>