<!DOCTYPE html>
<html>
  <head>
    <title>Mutual-aid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="notices-and-alerts">
      <%= render partial: "layouts/notices_and_alerts" %>
    </div>
    <div class="devise-button">
      <% if current_user %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, no_confirm: true %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
