
<%# current_user ||= User.first %>


<!DOCTYPE html>
<html>
  <head>
    <title>Mutual-aid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= favicon_link_tag asset_path('logo.png'), :rel => 'icon', :type => "image/x-icon" %>

    <div class="wrapper">
      <% if current_user %>
        <%= render partial: "layouts/sidebar" %>
      <% end %>

      <div id="content">
        <% if current_user %>
          <%= render partial: "layouts/navbar" %>
        <% else %>
          <div style="padding-top: 5em;"></div>
        <% end %>

        <%= render partial: "layouts/notices_and_alerts" %>
        <%= yield %>

      </div>
    </div>
  </body>

</html>
