<!DOCTYPE html>
<html>
  <head>
    <title>Mutual-aid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class='has-navbar-fixed-top'>
    <%= render partial: "layouts/navbar" %>
    <div class="notices-and-alerts">
      <%= render partial: "layouts/notices_and_alerts" %>
    </div>
    <script>
      const burger = document.querySelector('.navbar-burger')
      const menu = document.querySelector('.navbar-menu')
      burger.addEventListener('click', ()=> {
        burger.classList.toggle('is-active')
        menu.classList.toggle('is-active')
      })
    </script>
    <%= yield %>
  </body>
</html>
